<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/register.css" />
    <title>Register</title>
  </head>

  <body>
    <form id="registerForm">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Register</button>
    </form>
    <div id="toaster" class="toaster"></div>

    <script src="/public/js/main.js"></script>
    <script src="/public/js/register.js"></script>
  </body>
</html>
